@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap);





body {
  font-family: Barlow;
}
.display-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 5.4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 8.64rem;
}
.display-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.1rem;
  line-height: 1.3;
}
.display-2 > .mbr-iconfont {
  font-size: 4.96rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.3rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 3.68rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.32rem;
    font-size: calc( 2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.48rem;
    font-size: calc( 1.7349999999999999rem + (3.1 - 1.7349999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7349999999999999rem + (3.1 - 1.7349999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.84rem;
    font-size: calc( 1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #3c6c94 !important;
}
.bg-success {
  background-color: #84aab3 !important;
}
.bg-info {
  background-color: #c6a999 !important;
}
.bg-warning {
  background-color: #4da92e !important;
}
.bg-danger {
  background-color: #ff4e4e !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #3c6c94 !important;
  border-color: #3c6c94 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #26445e !important;
  border-color: #26445e !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #26445e !important;
  border-color: #26445e !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #d1807c !important;
  border-color: #d1807c !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #bd4943 !important;
  border-color: #bd4943 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #bd4943 !important;
  border-color: #bd4943 !important;
}
.btn-info,
.btn-info:active {
  background-color: #c6a999 !important;
  border-color: #c6a999 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #ab8068 !important;
  border-color: #ab8068 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #ab8068 !important;
  border-color: #ab8068 !important;
}
.btn-success,
.btn-success:active {
  background-color: #84aab3 !important;
  border-color: #84aab3 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #5a8691 !important;
  border-color: #5a8691 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5a8691 !important;
  border-color: #5a8691 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #4da92e !important;
  border-color: #4da92e !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #326d1e !important;
  border-color: #326d1e !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #326d1e !important;
  border-color: #326d1e !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff4e4e !important;
  border-color: #ff4e4e !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff0101 !important;
  border-color: #ff0101 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff0101 !important;
  border-color: #ff0101 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #1f374b;
  color: #1f374b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #3c6c94;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #3c6c94 !important;
  border-color: #3c6c94 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #ab413c;
  color: #ab413c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #d1807c;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #d1807c !important;
  border-color: #d1807c !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #a07259;
  color: #a07259;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #c6a999;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #c6a999 !important;
  border-color: #c6a999 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #507881;
  color: #507881;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #84aab3;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #84aab3 !important;
  border-color: #84aab3 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #285918;
  color: #285918;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #4da92e;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #4da92e !important;
  border-color: #4da92e !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #e70000;
  color: #e70000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #ff4e4e;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4e4e !important;
  border-color: #ff4e4e !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #000000 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #3c6c94 !important;
}
.text-secondary {
  color: #d1807c !important;
}
.text-success {
  color: #84aab3 !important;
}
.text-info {
  color: #c6a999 !important;
}
.text-warning {
  color: #4da92e !important;
}
.text-danger {
  color: #ff4e4e !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1f374b !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ab413c !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #507881 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #a07259 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #285918 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #e70000 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #c6a999;
}
.alert-warning {
  background-color: #4da92e;
}
.alert-danger {
  background-color: #ff4e4e;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #3c6c94;
  border-color: #3c6c94;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #3c6c94;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #83abcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d3e0e4;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f4eeeb;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #93db7b;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
blockquote {
  border-color: #3c6c94;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #3c6c94;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #3c6c94;
  border-bottom-color: #3c6c94;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #3c6c94 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #d1807c !important;
  box-shadow: none !important;
}
.sidebar-block .mbr-gallery-item .galleryItem .onsale {
  top: 0px;
}
.sidebar-block .mbr-gallery-item .galleryItem .sidebar_wraper {
  bottom: -35px;
  margin-left: 1rem;
}
.cid-s08qFxHC9P {
  background-image: url("../../../assets/images/img-9379-2000x1333.jpg");
}
@media (min-width: 992px) {
  .cid-s08qFxHC9P .display-1 {
    letter-spacing: -6px;
  }
}
.cid-s08qFxHC9P p {
  margin: 0;
}
.cid-s08qFxHC9P .container-fluid {
  margin-bottom: 0;
  margin-top: auto;
}
.cid-s08qFxHC9P .display-1 {
  line-height: 1;
}
.cid-s08qFxHC9P .btn {
  border-radius: 0;
  padding: 1.3rem 2rem;
}
.cid-s08qFxHC9P .btn .mbr-iconfont {
  font-size: 1rem;
}
.cid-s08qFxHC9P .btn:hover {
  transform: translateY(-10px);
}
.cid-s08qFxHC9P .btn-white-outline:hover,
.cid-s08qFxHC9P .btn-white-outline:focus {
  color: white;
  background: black;
  border-color: black;
}
.cid-s1OjPtI0Ou.popup-builder {
  background-color: #ffffff;
}
.cid-s1OjPtI0Ou.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-s1OjPtI0Ou.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-s1OjPtI0Ou .modal-content,
.cid-s1OjPtI0Ou .modal-dialog {
  height: auto;
}
.cid-s1OjPtI0Ou .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-s1OjPtI0Ou .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-s1OjPtI0Ou .form-wrapper .mbr-form .form-group,
  .cid-s1OjPtI0Ou .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-s1OjPtI0Ou .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-s1OjPtI0Ou .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s1OjPtI0Ou .mbr-text {
  text-align: center;
}
.cid-s1OjPtI0Ou .pt-0 {
  padding-top: 0 !important;
}
.cid-s1OjPtI0Ou .pb-0 {
  padding-bottom: 0 !important;
}
.cid-s1OjPtI0Ou .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-s1OjPtI0Ou .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-s1OjPtI0Ou .modal-open {
  overflow: hidden;
}
.cid-s1OjPtI0Ou .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-s1OjPtI0Ou .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-s1OjPtI0Ou .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-s1OjPtI0Ou .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-s1OjPtI0Ou .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-s1OjPtI0Ou .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-s1OjPtI0Ou .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-s1OjPtI0Ou .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-s1OjPtI0Ou .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-s1OjPtI0Ou .modal-backdrop.fade {
  opacity: 0;
}
.cid-s1OjPtI0Ou .modal-backdrop.show {
  opacity: .5;
}
.cid-s1OjPtI0Ou .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
}
.cid-s1OjPtI0Ou .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-s1OjPtI0Ou .modal-header .close:hover {
  opacity: 1;
}
.cid-s1OjPtI0Ou .modal-header .close:focus {
  outline: none;
}
.cid-s1OjPtI0Ou .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-s1OjPtI0Ou .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 100%;
}
.cid-s1OjPtI0Ou .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  text-align: center;
}
.cid-s1OjPtI0Ou .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-s1OjPtI0Ou .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-s1OjPtI0Ou .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-s1OjPtI0Ou .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-s1OjPtI0Ou .modal-sm {
    max-width: 300px;
  }
  .cid-s1OjPtI0Ou .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-s1OjPtI0Ou .modal-lg,
  .cid-s1OjPtI0Ou .modal-xl {
    max-width: 800px;
  }
  .cid-s1OjPtI0Ou .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-s1OjPtI0Ou .modal-xl {
    max-width: 1140px;
  }
  .cid-s1OjPtI0Ou .container {
    max-width: 1140px;
  }
}
.cid-s1OjPtI0Ou .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-s1OjPtI0Ou .container {
    max-width: 720px;
  }
}
.cid-s1OjPtI0Ou .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-s1OjPtI0Ou .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-s1OjPtI0Ou .form-group {
  margin-bottom: 1rem;
}
.cid-s1OjPtI0Ou .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-s1OjPtI0Ou .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-s1OjPtI0Ou .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-s1OhD6JyU1 {
  height: 0 !important;
}
.cid-s1OhD6JyU1 .navbar {
  background: #ffffff;
  transition: none;
  z-index: 1001;
  left: auto;
}
.cid-s1OhD6JyU1 .navbar .show {
  height: 100vh;
}
.cid-s1OhD6JyU1 .navbar-collapse {
  max-height: 100vh!important;
  overflow: visible;
  transition: none;
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-s1OhD6JyU1 .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-s1OhD6JyU1 .bottom {
  padding-bottom: 2rem;
}
.cid-s1OhD6JyU1 a {
  font-style: normal;
}
.cid-s1OhD6JyU1 .dropdown-backdrop {
  display: none;
}
.cid-s1OhD6JyU1 .dropdown-toggle::after {
  border-top: 0!important;
  margin-left: 10px!important;
}
.cid-s1OhD6JyU1 .nav-dropdown {
  padding-top: 8rem;
}
.cid-s1OhD6JyU1 .nav-item {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
}
.cid-s1OhD6JyU1 .nav-link {
  position: relative;
  margin-top: 0.5rem;
  width: fit-content;
  margin: auto;
  letter-spacing: 2px;
}
.cid-s1OhD6JyU1 .nav-link:after {
  content: "";
  color: #333;
  transition: all 0.3s;
  width: 20px;
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: #09120d;
  margin-left: 10px;
}
.cid-s1OhD6JyU1 .nav-link:hover:after {
  margin-left: -15px !important;
}
.cid-s1OhD6JyU1 .nav-link span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-s1OhD6JyU1 .nav-link a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-s1OhD6JyU1 .collapsed .navbar-collapse.show {
  display: flex!important;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
}
.cid-s1OhD6JyU1 .navbar-nav {
  width: 100%!important;
}
.cid-s1OhD6JyU1 .btn {
  width: fit-content;
  margin: 10px auto;
  padding: 1rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-s1OhD6JyU1 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-s1OhD6JyU1 .navbar-caption-wrap {
  padding-left: 1rem;
  padding-top: 8px;
}
.cid-s1OhD6JyU1 .dropdown-menu {
  position: absolute!important;
  width: fit-content !important;
}
.cid-s1OhD6JyU1 .dropdown-item {
  background: #1c1c1c;
  color: #ffffff !important;
}
.cid-s1OhD6JyU1 .dropdown-item:hover,
.cid-s1OhD6JyU1 .dropdown-item:active {
  color: #ffffff !important;
}
.cid-s1OhD6JyU1 .social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-s1OhD6JyU1 .soc-item {
  width: 45px;
  height: 45px;
  background: #232323;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.4rem;
}
.cid-s1OhD6JyU1 .soc-item span {
  font-size: 1.2rem;
  color: #ffffff !important;
  transition: all 0.3s;
  padding-top: 4px;
  display: block;
}
.cid-s1OhD6JyU1 .soc-item:hover span {
  color: #c1c1c1 !important;
}
.cid-s1OhD6JyU1 .dropdown.open > .dropdown-menu {
  position: absolute;
  opacity: 1;
  background: #1c1c1c;
  height: auto;
  left: auto;
  right: 100%;
  top: 5px;
  visibility: visible;
}
.cid-s1OhD6JyU1 .navbar-logo {
  margin-right: 0!important;
}
.cid-s1OhD6JyU1 .hamburger {
  position: absolute;
  top: 27px;
  right: 22px;
}
.cid-s1OhD6JyU1 .menu-logo {
  position: fixed!important;
}
.cid-s1OhD6JyU1 .menu-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1002;
  margin-right: auto;
}
.cid-s1OhD6JyU1 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s1OhD6JyU1 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-s1OhD6JyU1 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-s1OhD6JyU1 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-s1OhD6JyU1 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-s1OhD6JyU1 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-s1OhD6JyU1 .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-s1OhD6JyU1 .navbar-toggler {
  background: #ffffff;
  width: 75px!important;
  height: 75px!important;
  border-radius: 0!important;
  margin-top: -25px !important;
  margin-right: -16px !important;
}
.cid-s1OhD6JyU1 .navbar-brand {
  background: transparent;
  margin: 0!important;
  padding: 10px!important;
  padding-top: 20px;
}
.cid-s1OhD6JyU1 .navbar.navbar-short {
  background: transparent;
  min-height: 60px;
  transition: none;
}
.cid-s1OhD6JyU1 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-s1OhD6JyU1 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-s1OhD6JyU1 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-s1OhD6JyU1 .opened,
.cid-s1OhD6JyU1 .show {
  height: 100%;
  width: 300px!important;
  right: 0;
  transition: none;
  background: #ffffff !important;
  left: auto;
}
@media (max-width: 767px) {
  .cid-s1OhD6JyU1 .dropdown-item {
    font-size: 0.8rem;
  }
  .cid-s1OhD6JyU1 .nav-dropdown {
    padding-top: 4rem;
  }
  .cid-s1OhD6JyU1 .opened,
  .cid-s1OhD6JyU1 .show,
  .cid-s1OhD6JyU1 .navbar {
    width: 100%!important;
  }
  .cid-s1OhD6JyU1 .dropdown-toggle {
    margin: auto!important;
  }
  .cid-s1OhD6JyU1 .dropdown-menu {
    position: relative!important;
    left: 0!important;
    top: 0!important;
    margin: auto;
  }
  .cid-s1OhD6JyU1 .nav-item.dropdown {
    flex-direction: column;
  }
}
.cid-s1OhD6JyU1 .nav-item:focus,
.cid-s1OhD6JyU1 .nav-link:focus {
  outline: none;
}
.cid-s1OhD6JyU1 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 2rem;
  width: auto;
}
.cid-s1OhD6JyU1 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-s1OhD6JyU1 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-s1OhD6JyU1 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-s1OhD6JyU1 .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-s1OhD6JyU1 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-s1OhD6JyU1 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s1OhD6JyU1 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-s1OhD6JyU1 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s1OhD6JyU1 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-s1OhD6JyU1 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
  position: absolute;
}
.cid-s1OhD6JyU1 button.navbar-toggler:focus {
  outline: none;
}
.cid-s1OhD6JyU1 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #1c1c1c;
}
.cid-s1OhD6JyU1 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s1OhD6JyU1 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s1OhD6JyU1 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s1OhD6JyU1 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s1OhD6JyU1 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s1OhD6JyU1 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s1OhD6JyU1 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s1OhD6JyU1 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s1OhD6JyU1 .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-s1OhD6JyU1 .collapsed .btn {
  display: -webkit-flex;
}
.cid-s1OhD6JyU1 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-s1OhD6JyU1 .collapsed .navbar-collapse.collapsing,
.cid-s1OhD6JyU1 .collapsed .navbar-collapse.show {
  display: flex !important;
  width: 100%;
}
.cid-s1OhD6JyU1 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-s1OhD6JyU1 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-s1OhD6JyU1 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-s1OhD6JyU1 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-s1OhD6JyU1 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-s1OhD6JyU1 .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-s1OhD6JyU1 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-s1OhD6JyU1 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-s1OhD6JyU1 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-s1OhD6JyU1 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-s1OhD6JyU1 .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: 85vh;
  }
}
.cid-s1OhD6JyU1 .collapsed button.navbar-toggler {
  display: block;
}
.cid-s1OhD6JyU1 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-s1OhD6JyU1 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-s1OhD6JyU1 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-s1OhD6JyU1 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
@media (max-width: 991px) {
  .cid-s1OhD6JyU1 .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-s1OhD6JyU1 img {
    height: 3.8rem !important;
  }
  .cid-s1OhD6JyU1 .btn {
    display: -webkit-flex;
  }
  .cid-s1OhD6JyU1 button.navbar-toggler {
    display: block;
  }
  .cid-s1OhD6JyU1 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-s1OhD6JyU1 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-s1OhD6JyU1 .navbar-collapse.collapsing,
  .cid-s1OhD6JyU1 .navbar-collapse.show {
    display: block !important;
  }
  .cid-s1OhD6JyU1 .navbar-collapse.collapsing .navbar-nav,
  .cid-s1OhD6JyU1 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-s1OhD6JyU1 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-s1OhD6JyU1 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-s1OhD6JyU1 .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-s1OhD6JyU1 .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-s1OhD6JyU1 .navbar-collapse.collapsing .navbar-buttons,
  .cid-s1OhD6JyU1 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-s1OhD6JyU1 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-s1OhD6JyU1 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-s1OhD6JyU1 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-s1OhD6JyU1 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-s1OhD6JyU1 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .cid-s1OhD6JyU1 .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
