@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap);





body {
  font-family: Barlow;
}
.display-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 5.4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 8.64rem;
}
.display-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.1rem;
  line-height: 1.3;
}
.display-2 > .mbr-iconfont {
  font-size: 4.96rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.3rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 3.68rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.32rem;
    font-size: calc( 2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.48rem;
    font-size: calc( 1.7349999999999999rem + (3.1 - 1.7349999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7349999999999999rem + (3.1 - 1.7349999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.84rem;
    font-size: calc( 1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #3c6c94 !important;
}
.bg-success {
  background-color: #84aab3 !important;
}
.bg-info {
  background-color: #c6a999 !important;
}
.bg-warning {
  background-color: #4da92e !important;
}
.bg-danger {
  background-color: #ff4e4e !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #3c6c94 !important;
  border-color: #3c6c94 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #26445e !important;
  border-color: #26445e !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #26445e !important;
  border-color: #26445e !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #d1807c !important;
  border-color: #d1807c !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #bd4943 !important;
  border-color: #bd4943 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #bd4943 !important;
  border-color: #bd4943 !important;
}
.btn-info,
.btn-info:active {
  background-color: #c6a999 !important;
  border-color: #c6a999 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #ab8068 !important;
  border-color: #ab8068 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #ab8068 !important;
  border-color: #ab8068 !important;
}
.btn-success,
.btn-success:active {
  background-color: #84aab3 !important;
  border-color: #84aab3 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #5a8691 !important;
  border-color: #5a8691 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5a8691 !important;
  border-color: #5a8691 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #4da92e !important;
  border-color: #4da92e !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #326d1e !important;
  border-color: #326d1e !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #326d1e !important;
  border-color: #326d1e !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff4e4e !important;
  border-color: #ff4e4e !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff0101 !important;
  border-color: #ff0101 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff0101 !important;
  border-color: #ff0101 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #1f374b;
  color: #1f374b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #3c6c94;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #3c6c94 !important;
  border-color: #3c6c94 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #ab413c;
  color: #ab413c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #d1807c;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #d1807c !important;
  border-color: #d1807c !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #a07259;
  color: #a07259;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #c6a999;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #c6a999 !important;
  border-color: #c6a999 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #507881;
  color: #507881;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #84aab3;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #84aab3 !important;
  border-color: #84aab3 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #285918;
  color: #285918;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #4da92e;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #4da92e !important;
  border-color: #4da92e !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #e70000;
  color: #e70000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #ff4e4e;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4e4e !important;
  border-color: #ff4e4e !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #000000 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #3c6c94 !important;
}
.text-secondary {
  color: #d1807c !important;
}
.text-success {
  color: #84aab3 !important;
}
.text-info {
  color: #c6a999 !important;
}
.text-warning {
  color: #4da92e !important;
}
.text-danger {
  color: #ff4e4e !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1f374b !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ab413c !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #507881 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #a07259 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #285918 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #e70000 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #c6a999;
}
.alert-warning {
  background-color: #4da92e;
}
.alert-danger {
  background-color: #ff4e4e;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #3c6c94;
  border-color: #3c6c94;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #3c6c94;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #83abcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d3e0e4;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f4eeeb;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #93db7b;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
blockquote {
  border-color: #3c6c94;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #3c6c94;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #3c6c94;
  border-bottom-color: #3c6c94;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #3c6c94 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #d1807c !important;
  box-shadow: none !important;
}
.sidebar-block .mbr-gallery-item .galleryItem .onsale {
  top: 0px;
}
.sidebar-block .mbr-gallery-item .galleryItem .sidebar_wraper {
  bottom: -35px;
  margin-left: 1rem;
}
.cid-s08qFxHC9P {
  background-image: url("../../../assets/images/rorpreview-15-1600x1067.jpg");
}
@media (min-width: 992px) {
  .cid-s08qFxHC9P .display-1 {
    letter-spacing: -6px;
  }
}
.cid-s08qFxHC9P p {
  margin: 0;
}
.cid-s08qFxHC9P .container-fluid {
  margin-bottom: 0;
  margin-top: auto;
}
.cid-s08qFxHC9P .display-1 {
  line-height: 1;
}
.cid-s08qFxHC9P .btn {
  border-radius: 0;
  padding: 1.3rem 2rem;
}
.cid-s08qFxHC9P .btn .mbr-iconfont {
  font-size: 1rem;
}
.cid-s08qFxHC9P .btn:hover {
  transform: translateY(-10px);
}
.cid-s08qFxHC9P .btn-white-outline:hover,
.cid-s08qFxHC9P .btn-white-outline:focus {
  color: white;
  background: black;
  border-color: black;
}
.cid-s1rUbC3RGc {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #09120d;
}
.cid-s1rUbC3RGc .navbar-logo {
  width: 100px;
  margin-bottom: 10px;
  margin: auto;
}
.cid-s1rUbC3RGc .navbar-brand {
  margin: auto;
  width: 100%;
  text-align: center;
}
.cid-s1rUbC3RGc .socicon {
  font-size: 1.3rem;
  background: #e9e9e9;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s1rUbC3RGc .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.cid-s1rUbC3RGc .social-list .soc-item {
  display: inline-block;
  margin: 0 0.3rem;
}
.cid-s1rUbC3RGc .text2 {
  color: #000000;
  text-align: left;
}
.cid-s1rUbC3RGc .group-title {
  text-align: left;
  color: #000000;
  padding-bottom: 0.2rem;
}
.cid-s1rUbC3RGc .logo-title {
  text-align: center;
}
.cid-s1rUbC3RGc .logo-sub-title {
  text-align: center;
}
.cid-s1rUbC3RGc .links {
  text-align: center;
  color: #656565;
}
.cid-s1rUbC3RGc .logo-sub-title i {
  color: #9e9e9e;
}
